@{
    ViewBag.Title = "Home Page";
}

<html>
<head>
    //link do arquivo css não está funcionando somente o atributo style.
    <link href="~/Content/CSs.css" rel="stylesheet" />
    <title> Mercado Jr.</title>

</head>

<body>
    <h1 class=".cor-azul"> MERCADO JR.</h1>

    <h2  style="color:Tomato;"> O mercado pequeno que tem tudo o que você precisa </h2>

</body>


</html>